body{
    background-color: #141414;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../images/dimmerr.webp);
    text-align: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
     
    }

    nav a {
      margin: 20px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      font-family: 'Montserrat';
      transition: transform 0.3s ease, color 0.3s ease;
      position: relative; /* Ensures transform works */
      display: inline-block; /* Makes sure the link behaves like a block-level element */
    }
    
    nav a:hover {
      transform: scale(1.2); /* Zoom-in effect */
      color: #e2bf7d; /* Optional: change color on hover */
    }
    
    nav {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #1a1a1a;
      box-shadow: #1a1a1a;
      overflow: visible; /* Ensure zoomed-in link isn't clipped */
    }


  h1 {
    font-size: 6rem;
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 10px 10px 4px black;
}

.h1p {
  font-size: 12rem;
}
h2 {
    font-size: 1.5rem;
    line-height: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 1px 3px 4px black;
}

.credit-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.credit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  padding-bottom: 2.3rem;
}

.credit-item img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  justify-content: center;
  transition: transform .35s ease;
}

.credit-item a:hover img{
  transform: scale(1.1);
}
.credit-item p {
  margin: 5px 0;
  font-size: 27px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}
h1 {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.main-box {
  display: inline;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  max-width: 60rem;
  place-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

 
      